<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }} - KMF</title>
    <link rel="stylesheet" href="css/custom.css" title="external style sheet">
    <link href='https://fonts.googleapis.com/css?family=Jacques Francois' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body background="images/gaming-pattern.png">

    <!-- header and navbar -->
    <div class="header">
      <h2> TITLE </h2>
    </div>

    <nav class="navbar" id="thatnavbar">
    <div id="navbar_content">
      <a id="thatlinkhome" href="index.html">Home</a>
      <a id="thatlink1" href="about.html">Link 1</a>
      <div class="dropdown">
        <button class="dropdown_button" id="thatlink2">Dropdown</button>
          <div class="dropdown_content">
            <a href="portfolio_g.html">Drop Link 1</a>
            <a href="#">Drop Link 2</a>
          </div>
      </div>
      <a id="thatlink3" href="javascript:void(0)">Link 3</a>
    </div>
    <a href="javascript:void(0);" class="icon" id="thisicon" onclick="toggleNavbar()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </a>
    </nav>

    <!-- main body -->
    <div class="content">

        {{ content }}
    
    </div>

    <!-- footer -->
    <footer class="footer">
      <a href="#top">Back to top.</a>
      <p> @ Katherine M. Fitzpatrick. All rights reserved. </p>
      <p> Background by Stephen Gheysens. </p>
    </footer>

    <!-- LE SCRIPT SECTION -->
    <script>
    var nav = document.getElementById("thatnavbar");
    var icon = document.getElementById("thisicon");
    var title = document.title;

    var linkhome = document.getElementById("thatlinkhome");
    var link1 = document.getElementById("thatlink1");
    var link2 = document.getElementById("thatlink2");
    var link3 = document.getElementById("thatlink3");

    var slideIndex = 0;
    showSlides();

    window.onload = function(){
      if(title.includes("Home")){
        linkhome.classList.toggle("active");
      }
      else if (title.includes("About")){
        link1.classList.toggle("active");
      }
      else if (title.includes("Portfolio")){
        link2.classList.toggle("active");
      }
      else if (title.includes("Contact")){
        link3.classList.toggle("active");
      }
    }

    function toggleNavbar() {
      if (nav.className === "navbar"){
        nav.className += " responsive";
      }
      else {
        nav.className = "navbar";
      }
      icon.classList.toggle("change");
    }

    function filterSelection(btn, selected){
      var filterbtns = document.getElementsByClassName("filter_button");
      for (var i = 0; i < filterbtns.length; i++){
        filterbtns[i].classList.remove("active");
      }
      btn.classList.toggle("active")

      var filterct = document.getElementsByClassName("col");
      for (var i = 0; i < filterct.length; i++){
        filterct[i].classList.remove("show");
        if (filterct[i].classList.contains(selected) || selected == "all") {
          filterct[i].classList.add("show");
        }
      }
    }

    function showSlides() {
      var slides = document.getElementsByClassName("slide_img");
      var dots = document.getElementsByClassName("slide_dot");
      for (var i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
       dots[i].classList.remove("active");
      }
      if (slideIndex > slides.length-1) {slideIndex = 0}    
      slides[slideIndex].style.display = "block";  
      dots[slideIndex].className += " active";
      slideIndex++;
      setTimeout(showSlides, 5000);
    }

    </script>

  </body>
</html>

